<?xml version="1.0"?>

<launch>
  <include file="$(find igvc_self_drive_gazebo)/launch/spawn_gem.launch" >
    <arg name="start_x" value="0.0" />
    <arg name="start_y" value="0.0" />
    <arg name="start_yaw" value="1.463963" />
  </include>

 <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find sequoia_nav_laser)/world/gemworld.world" />
  </include>

</launch>
