<?xml version="1.0"?>
<launch>

  <include file="$(find self_drive_tasks_gazebo)/launch/load_task_world.launch" />

  <include file="$(find sequoia_gazebo)/launch/spawn_sequoia.launch" >
    <arg name="start_x" value="219.31" />
    <arg name="start_y" value="-180.43" />
    <arg name="start_yaw" value="3.14159" />
  </include>

</launch>
