<?xml version="1.0"?>
<launch>

  <include file="$(find self_drive_tasks_gazebo)/launch/load_task_world.launch" />

  <include file="$(find sequoia_gazebo)/launch/spawn_sequoia.launch" >
    <arg name="start_x" value="75.36" />
    <arg name="start_y" value="-276.28" />
    <arg name="start_yaw" value="0" />
  </include>

</launch>
