<?xml version="1.0"?>
<launch>

  <include file="$(find self_drive_tasks_gazebo)/launch/load_task_world.launch" />

  <include file="$(find sequoia_gazebo)/launch/spawn_sequoia.launch" >
    <arg name="start_x" value="159.86" />
    <arg name="start_y" value="-273.91" />
    <arg name="start_yaw" value="3.1415" />
  </include>

</launch>
