<?xml version="1.0" ?>
<launch>

  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen" args="-e ode $(find self_drive_tasks_gazebo)/worlds/self_drive_tasks.world" />

  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" args="-g libcamera_control_plugin.so" output="screen"/>

</launch>
