<?xml version="1.0"?>
<launch>

  <include file="$(find self_drive_tasks_gazebo)/launch/q2_gazebo.launch" />

  <include file="$(find sequoia_twist_controller)/launch/sequoia_twist_controller.launch" />

  <include file="$(find task_nodes)/launch/startup/sim_lidar.launch" >
    <arg name="input_scan_topic" value="laser/scan" />
  </include>
  
  <include file="$(find task_nodes)/launch/startup/sim_navigation.launch" >
    <arg name="initial_heading" value="0.0" />
  </include>

  <node pkg="task_nodes" type="lane_keep_and_stop" name="lane_keep_and_stop" output="screen" >
    <remap from="cmd_vel" to="/vehicle/cmd_vel" />
    <remap from="stop_line_dist" to="none" />
    <param name="sensitive_range" value="6.0" />
  </node>

  <node ns="camera_sim" pkg="sequoia_lane_detection" type="lane_detection_node" name="lane_detection_node" output="screen" />

  
</launch>
