<?xml version="1.0"?>
<launch>

  <include file="$(find task_nodes)/launch/drive_by_wire.launch" >
    <arg name="pub_pedals" value="true" />
    <arg name="pub_steering" value="false" />
  </include>

  <node pkg="lidar_stop_trigger" type="lidar_stop_trigger" name="lidar_stop_trigger" >
    <remap from="scan" to="scan_filtered" />
  </node>

  <node pkg="task_nodes" type="task_q2" name="task_q2" output="screen" >
    <remap from="cmd_vel" to="/vehicle/cmd_vel" />
  </node>
  
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_filter" output="screen" respawn="true" >
    <rosparam file="$(find task_nodes)/yaml/laser_filter_params.yaml" />
  </node>
  
  <node pkg="urg_node" type="urg_node" name="lidar_driver" output="screen" >
    <param name="serial_port" value="/dev/ttyACM0" />
    <param name="serial_baud" value="115200" />
  </node>
  
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />

</launch>
