<?xml version="1.0"?>
<launch>

  <include file="$(find task_nodes)/launch/drive_by_wire.launch" >
    <arg name="pub_pedals" value="true" />
    <arg name="pub_steering" value="false" />
  </include>



  <include file="$(find sign_detection)/launch/sign_detection.launch" >
  </include>
  
 <node pkg="stop_sign_node" type="stop_sign_plan" name="stop_sign_plan" output="screen" />
  
  <node pkg="task_nodes" type="task_q5" name="task_q5" output="screen" >
    <remap from="cmd_vel" to="/vehicle/cmd_vel" />
  </node>
  

</launch>
