<?xml version="1.0"?>
<launch>

  <include file="$(find self_drive_tasks_gazebo)/launch/q5_gazebo.launch" />

  <include file="$(find sequoia_twist_controller)/launch/sequoia_twist_controller.launch" />

  <include file="$(find task_nodes)/launch/startup/sim_lidar.launch" />
  
  <include file="$(find task_nodes)/launch/startup/sim_navigation.launch" >
    <arg name="initial_heading" value="1.5707" />
  </include>
  
  <node pkg="task_nodes" type="lane_keep_and_stop" name="lane_keep_and_stop" output="screen" >
    <remap from="cmd_vel" to="/vehicle/cmd_vel" />
    <remap from="stop_line_dist" to="/camera_sim/stop_line_dist" />
  </node>

  <node ns="camera_sim" pkg="sequoia_lane_detection" type="lane_detection_node" name="lane_detection_node" output="screen" />

</launch>
